
# Environment configuration for local development
# Host api es el puerto del backend en terminal muestra que puerto esta corriendo
VITE_HOST_API=http://localhost:4100

# URL para WebSocket de mensajes en tiempo real se obtiene del backend y esta definido en las rutas de websocket
VITE_URL_WS=ws://localhost:4100/api/public/ws/message